#logo{
  width: 50px;
  height: 50px;
  border-radius: 10px;
  padding: 0;
}

.navbar-brand{
  font-weight: bold;
  text-shadow: 1px 1px 10px rgb(53, 53, 192);
}

/* Custom CSS */
.custom-dropdown .dropdown-toggle::after {
  content: none;
}

.custom-dropdown .dropdown-toggle::before {
  margin-right: 0.3rem;
}

.custom-dropdown .dropdown-menu {
  position: absolute;
}

.custom-dropdown .dropdown-menu a {
  color: #333;
  background-color: #fff;
}


.nav-link{
  font-weight: bold;
  font-size: large;
  margin-left: 5px;
  margin-right: 5px;
}

.links{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}