/* Root */

.container{
  display: flex;
  justify-content: center;
}

.card{
  padding: 2px;
  margin-top: 20px;
  box-shadow: 1px 1px 7px gray;
}

.navbar{
  box-shadow: 1px 1px 7px gray;
  font-size: large;
}

.account-header{
  width: 500px;
}
#sign-forms{
  max-width: 500px;
}
